:root {
    --bg-dark: oklch(0.1 0.01 230);
    --bg: oklch(0.15 0.01 230);
    --bg-light: oklch(0.2 0.01 230);
    --text: oklch(0.96 0.02 230);
    --text-muted: oklch(0.76 0.02 230);
    --highlight: oklch(0.5 0.02 230);
    --border: oklch(0.4 0.02 230);
    --border-muted: oklch(0.3 0.02 230);
    --primary: oklch(0.76 0.1 230);
    --secondary: oklch(0.76 0.1 50);
    --danger: oklch(0.7 0.05 30);
    --warning: oklch(0.7 0.05 100);
    --success: oklch(0.7 0.05 160);
    --info: oklch(0.7 0.05 260);
    --system-ui:
        system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-dark: oklch(0.92 0.01 230);
        --bg: oklch(0.96 0.01 230);
        --bg-light: oklch(1 0.01 230);
        --text: oklch(0.15 0.02 230);
        --text-muted: oklch(0.4 0.02 230);
        --highlight: oklch(1 0.02 230);
        --border: oklch(0.6 0.02 230);
        --border-muted: oklch(0.7 0.02 230);
        --primary: oklch(0.4 0.1 230);
        --secondary: oklch(0.4 0.1 50);
        --danger: oklch(0.5 0.05 30);
        --warning: oklch(0.5 0.05 100);
        --success: oklch(0.5 0.05 160);
        --info: oklch(0.5 0.05 260);
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    border: 0 solid transparent;
}

body {
    line-height: 1.5;
    min-height: 100vh;
    font-family: var(--system-ui);
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

body {
    background-color: var(--bg-dark);
    color: var(--text);
}

h1 {
    font-size: 2.5rem;
    margin: 1rem 0;
    padding: 0 1rem;
}

section {
    padding: 1rem;
}

.card {
    border: 1px solid var(--border);
    border-radius: 1rem;
    background-color: var(--bg);
    overflow: hidden;
    max-width: 48rem;
    display: flex;
    flex-direction: column;
}

.card__picture {
    height: 200px;
    width: 100%;
    background-color: sandybrown;
}

.card__info-container {
    padding: 1rem;
}

.card__header {
    font-size: 2rem;
    font-weight: 500;
    margin: 0.5rem 0;
}

.card__description {
    color: var(--text-muted);
    margin: 1rem 0;
}

.card__tech-used {
    margin: 1.5rem 0;
}

.card__tech-badge {
    border: 1px solid var(--border);
    padding: 0.25rem 0.75rem;
    border-radius: 1rem;
    color: var(--text-muted);
}

.card__links-container {
    display: flex;
    justify-content: end;
}

.card__link {
    color: var(--text);
    margin-right: 1rem;
    display: flex;
    align-items: center;
    text-underline-offset: 2px;
    border: 1px solid var(--border);
    padding: 0.25rem 0.75rem;
    border-radius: 0.5rem;
    background-color: var(--bg-light);
}

.card__link-svg {
    color: var(--text);
    height: 16px;
    width: 16px;
    margin-left: 0.25rem;
}
