:root {
    --bg-dark: oklch(0.1 0 264);
    --bg: oklch(0.2 0 264);
    --bg-light: oklch(0.3 0 264);
    --text: oklch(0.96 0.02 230);
    --text-muted: oklch(0.76 0.02 230);
    --highlight: oklch(0.5 0.02 230);
    --border: oklch(0.4 0.02 230);
    --border-muted: oklch(0.3 0.02 230);
    --primary: oklch(82.8% 0.189 84.429);
    --secondary: oklch(0.76 0.1 50);
    --danger: oklch(0.7 0.05 30);
    --warning: oklch(0.7 0.05 100);
    --success: oklch(0.7 0.05 160);
    --info: oklch(0.7 0.05 260);
    --system-ui:
        system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --shadow-s:
        inset 0 1px 2px #ffffff30, /* top highlight */ 0 1px 2px #00000030,
        /* dark shadow */ 0 2px 4px #00000015; /* soft shadow */
    --shadow-m:
        inset 0 1px 2px #ffffff50, /* top highlight */ 0 2px 4px #00000030,
        /* dark shadow */ 0 4px 8px #00000015; /* soft shadow */
    --shadow-l:
        inset 0 1px 2px #ffffff70, /* top highlight */ 0 4px 6px #00000030,
        /* dark shadow */ 0 6px 10px #00000015; /* soft shadow */
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-dark: oklch(0.92 0 264);
        --bg: oklch(0.96 0 264);
        --bg-light: oklch(1 0 264);
        --text: oklch(0.15 0.02 230);
        --text-muted: oklch(0.4 0.02 230);
        --highlight: oklch(1 0.02 230);
        --border: oklch(0.6 0.02 230);
        --border-muted: oklch(0.7 0.02 230);
        --primary: oklch(0.4 0.1 230);
        --secondary: oklch(0.4 0.1 50);
        --danger: oklch(0.5 0.05 30);
        --warning: oklch(0.5 0.05 100);
        --success: oklch(0.5 0.05 160);
        --info: oklch(0.5 0.05 260);
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    border: 0 solid transparent;
}

body {
    line-height: 1.5;
    min-height: 100vh;
    font-family: var(--system-ui);
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

body {
    background-color: var(--bg-dark);
    color: var(--text);
}

.main-container {
    margin: 0 auto;
    max-width: 48rem;
}

h1 {
    font-size: 2.5rem;
    margin: 1rem 0;
    padding: 0 1rem;
}

section {
    padding: 1rem;
}

.navbar {
    margin: 1rem 0;
    padding: 0.5rem 1.5rem;
}

.navbar > ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0.3rem 1rem;
    width: fit-content;
    height: fit-content;
    border-radius: 1rem;
    border: 1px solid var(--border);
    background-color: var(--bg);
    margin: 0 auto;
    box-shadow: var(--shadow-s);
}

.nav-link {
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    margin: 0 0.1rem;
    color: var(--text-muted);
}

.nav-link:hover {
    color: var(--primary);
}

a:has(> .navbar-underline) {
    position: relative;
    color: var(--primary);
}

.navbar-underline {
    position: absolute;
    height: 1px;
    width: 100%;
    margin: 0 auto;
    background: linear-gradient(
        to right,
        transparent,
        var(--primary),
        transparent
    );
    bottom: 0px;
    left: 0px;
}

.project-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.card {
    border: 1px solid var(--border);
    border-radius: 1rem;
    background-color: var(--bg);
    overflow: hidden;
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    box-shadow: var(--shadow-s);
}

.card__picture {
    height: 200px;
    width: 100%;
    background-color: sandybrown;
}

.card__info-container {
    padding: 1rem;
}

.card__header {
    font-size: 2rem;
    font-weight: 500;
    margin: 0.5rem 0;
}

.card__description {
    color: var(--text-muted);
    margin: 1rem 0;
}

.card__tech-used {
    margin: 1.5rem 0;
    display: flex;
    flex-wrap: wrap;
}

.card__tech-badge {
    border: 1px solid var(--border);
    padding: 0.25rem 0.75rem;
    border-radius: 1rem;
    color: var(--text-muted);
    margin: 0.25rem;
    display: flex;
    align-items: center;
}

.tech-badge-svg {
    width: 20px;
    height: 20px;
    margin-right: 0.15rem;
}

.card__links-container {
    display: flex;
    justify-content: end;
    margin-top: 1rem;
}

.card__link {
    color: var(--text);
    margin-left: 1rem;
    display: flex;
    align-items: center;
    border: 1px solid var(--border);
    text-decoration: none;
    padding: 0.25rem 1rem;
    border-radius: 0.5rem;
    background-color: var(--bg-light);
    box-shadow: var(--shadow-s);
}

.card__link:hover {
    box-shadow: var(--shadow-m);
}

.card__link-svg {
    color: var(--text);
    height: 16px;
    width: 16px;
    margin-left: 0.25rem;
}

@media (min-width: 1024px) {
    .card {
        flex-direction: row;
        max-width: 48rem;
    }

    .card__picture {
        height: 100%;
    }
}
