:root {
  --content-bg: #fafafa;
  --bg: #ffffff;
  --primary: #27272a;
  --secondary: #52525b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --content-bg: #18181b;
    --bg: #0a0a0a;
    --primary: #f4f4f5;
    --secondary: #a1a1aa;
  }
}

/* RESETS */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--bg);
}
